
.form-overlay form {
  inline-size: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

form button {
  margin: 20px 5px;
  padding: 5px;
  inline-size: 80px;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}